*
{ margin:0;
padding:0;
font-family:Comic Sans MS;
}
.box{
width:700px;
height:600px;
position:absolute;
right:50%;
padding-top:3 0px;
}
.pic{
width:700px;
height:600px;
position:abs ol ute;
}
.feedbackbox{
width:320px;
height:500px;
color:#000;
left:50%;
position:abs ol ute;
box-sizing:border-b ox;
padding:70px 30px;
}
h1{
padding:20;
text-align:c enter;
font-size:22px;
}
.feedbackbox input{
width:100%;
margin-bottom:20px;
}
.feedbackbox input[type="text"] , input[type="email"]
{ border:none;
border-bottom:1px solid #000;
background:transparent;
outline:none;
height:40px;
color:#000;
font-size:16px;
}
.feedbackbox textarea
{ border:none;
    border-bottom:1px solid #000;
    background:transparent;
    outline:none;
    height:40px;
    color:#000;
    font-size:16px;
    }
    .feedbackbox input[type="submit"] , input[type="reset"]
    { border:none;
    outline:none;
    height:40px;
    color:#fff;
    background:#fb2525;
    font-size:18px;
    border-radius:20px;
    }
    .feedbackbox input[type="submit"] , input[type="reset"]:hover
    { cursor:pointer;
    }